library.bib

identity_agent/identity_agents.tex
identity_agent/identity_agents.aux
identity_agent/identity_agents.bbl
identity_agent/identity_agents.blg
identity_agent/identity_agents.log
identity_agent/identity_agents.out
identity_agent/identity_agents.gz
identity_agent/identity_agents.bib
identity_agent/identity_agents.fdb_latexmk
identity_agent/identity_agents.fls
identity_agent/identity_agents.synctex.gz
identity_agent/identity_agents.graffle

self-control/self-control.tex
self-control/self-control.aux
self-control/self-control.fdb_latexmk
self-control/self-control.fls
self-control/self-control.log
self-control/self-control.out
self-control/self-control.synctex.gz
self-control/self-control.bbl
self-control/self-control.blg
self-control/self-control.graffle

age-protect/age-protect.tex
age-protect/age-protect.aux
age-protect/age-protect.fdb_latexmk
age-protect/age-protect.fls
age-protect/age-protect.log
age-protect/age-protect.out
age-protect/age-protect.synctex.gz
age-protect/age-protect.bbl
age-protect/age-protect.blg
age-protect/age-protect.graffle
