#library.bib

smartwallets/smartwallets.aux
smartwallets/smartwallets.bbl
smartwallets/smartwallets.blg
smartwallets/smartwallets.log
smartwallets/smartwallets.out
smartwallets/smartwallets.gz
smartwallets/smartwallets.bib
smartwallets/smartwallets.fdb_latexmk
smartwallets/smartwallets.fls
smartwallets/smartwallets.synctex.gz
smartwallets/smartwallets.graffle


identity-agents/identity-agents.aux
identity-agents/identity-agents.bbl
identity-agents/identity-agents.blg
identity-agents/identity-agents.log
identity-agents/identity-agents.out
identity-agents/identity-agents.gz
identity-agents/identity-agents.bib
identity-agents/identity-agents.fdb_latexmk
identity-agents/identity-agents.fls
identity-agents/identity-agents.synctex.gz
identity-agents/identity-agents.graffle

self-control/self-control.tex
self-control/self-control.aux
self-control/self-control.fdb_latexmk
self-control/self-control.fls
self-control/self-control.log
self-control/self-control.out
self-control/self-control.synctex.gz
self-control/self-control.bbl
self-control/self-control.blg
self-control/self-control.graffle

# age-protect/age-protect.pdf
# age-protect/age-protect.tex
age-protect/age-protect.aux
age-protect/age-protect.fdb_latexmk
age-protect/age-protect.fls
age-protect/age-protect.log
age-protect/age-protect.out
age-protect/age-protect.synctex.gz
age-protect/age-protect.bbl
age-protect/age-protect.blg
age-protect/age-protect.graffle
age-protect/age-protect.out
age-protect/images/age-protect.graffle
