library.bib
identity_agent/ia.tex
identity_agent/ia.aux
identity_agent/ia.bbl
identity_agent/ia.blg
identity_agent/ia.log
identity_agent/ia.out
identity_agent/ia.synctex.gz
identity_agent/library.bib
identity_agent/ia.fdb_latexmk
identity_agent/ia.fls

digital_self-ownership/dso.tex
digital_self-ownership/dso.aux
digital_self-ownership/dso.fdb_latexmk
digital_self-ownership/dso.fls
digital_self-ownership/dso.log
digital_self-ownership/dso.out
digital_self-ownership/dso.synctex.gz
digital_self-ownership/dso.bbl
digital_self-ownership/dso.blg

self-control/self-control.tex
self-control/self-control.aux
self-control/self-control.fdb_latexmk
self-control/self-control.fls
self-control/self-control.log
self-control/self-control.out
self-control/self-control.synctex.gz
self-control/self-control.bbl
self-control/self-control.blg

